.btn {
  position: relative;
  display: inline-flex;
  margin: 0;
  padding: 10px 30px;
  border: none;
  background-color: teal;
  color: white;
  border-radius: 3px;
  font-size: inherit;
  transform: translateY(50px);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  overflow: hidden;
}

.btn::before,
.btn::after {
  content: '';
  display: inline-flex;

  width: 20px;
  height: 20px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.btn::before {
  position: absolute;
  top: 50%;
  right: 30px;
  transform: translateY(calc(-50% + 35px));
  background-color: red;
}
.btn::after {
  margin-left: 5px;

  background-color: blue;
}

.btn:hover::before {
  transform: translateY(calc(-50%));
}

.btn:hover::after {
  transform: translateY(-35px);
}

.btn:hover,
.btn:focus {
  background-color: palevioletred;
  color: blue;
}
